# shellcheck shell=bash
use flake

watch_file .envrc.private
if [[ -f .envrc.private ]]; then
  echo -e "\033[1;31merror\033[0m: .envrc.private is deprecated, please check what the contents is and remove it"
  exit 1
fi
