# secrets
.envrc.private
.terraform.lock.hcl
secrets.auto.tfvars.json

# nix
.direnv
result*
.pre-commit-config.yaml

# terraform
.terraform
*.tfstate.backup
*.tfstate.lock.info

# terranix
config.tf.json
